<a href="https://colab.research.google.com/github/JinaaK/mulcamp34/blob/main/pandas_240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'2.0.3'

In [ ]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

## pandas의 데이터 구조 (p.237)
- series 데이터 구조, 1차원 데이터 : 컬럼의 갯수가 1개인 데이터
- DataFrame 데이터 구조, 컬럼 갯수가 여러개인 데이터

In [ ]:
s1 = pd.Series([10, 20, 30, 40, 50]) #Numpy에서 모든 원소가 데이터 타입이 같아야 했지만 pandas의 경우 달라도 됨. Series()로 데이터 생성할 때 문자와 숫자 혼합된 리스트를 인자로 이용할 수 있음
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s1.values

array([10, 20, 30, 40, 50], dtype=int64)

In [ ]:
s1 = pd.Series(['a', 'b', 'c', 1, 2, 3]) # 데이터 타입 달라도 오류는 안나지만 object로 처리함
s1

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [ ]:
import numpy as np

s3 = pd.Series([np.nan, 10, 30]) # nan은 결측치 (missing values)
s3

0     NaN
1    10.0
2    30.0
dtype: float64

In [ ]:
index_date = ['2018-10-07', '2018-10-08']
s4 = pd.Series([200, 195], index = index_date)
s4

2018-10-07    200
2018-10-08    195
dtype: int64

In [ ]:
index_date = ['2018-10-08', '2018-10-08']
s4 = pd.Series([200, 195], index = index_date)
s4

# index 설정의 기본 원칙은 중복이 되면 안된다. 코드상으로는 중복은 허용하더라

2018-10-08    200
2018-10-08    195
dtype: int64

In [ ]:
data_dict = {
    '국어' : 100,
    '영어' : 95
}

s5 = pd.Series(data_dict)
s5

국어    100
영어     95
dtype: int64

## 날짜 데이터

In [ ]:
pd.date_range(start='2024/01/01', end='2024.01.07')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start='2024/01/01', periods = 7)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start='2024/01/01', periods = 4, freq = '2D')

DatetimeIndex(['2024-01-01', '2024-01-03', '2024-01-05', '2024-01-07'], dtype='datetime64[ns]', freq='2D')

In [ ]:
pd.date_range(start='2024-01-01 08:00', periods = 4, freq = 'H')

DatetimeIndex(['2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00'],
              dtype='datetime64[ns]', freq='H')

## DataFrame을 활용한 데이터 생성

In [ ]:
import seaborn as sns # 시각화 라이브러리(통계 시각화)

sns.__version__

'0.12.2'

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# p247 참고
# p249 딕셔너리 스타일

table_data = {
    '연도' : [2015, 2016, 2016, 2017, 2017],
    '지사' : ['한국', '한국', '미국', '한국', '미국'],
    '고객 수' : [200, 250, 450, 300, 500]
}

table_data

{'연도': [2015, 2016, 2016, 2017, 2017],
 '지사': ['한국', '한국', '미국', '한국', '미국'],
 '고객 수': [200, 250, 450, 300, 500]}

In [ ]:
data = pd.DataFrame(table_data)
data

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [ ]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
data.values

array([[2015, '한국', 200],
       [2016, '한국', 250],
       [2016, '미국', 450],
       [2017, '한국', 300],
       [2017, '미국', 500]], dtype=object)

In [ ]:
data.values.shape

(5, 3)

In [ ]:
data.columns

Index(['연도', '지사', '고객 수'], dtype='object')

- 데이터 가공 시, numpy 메서드와 pandas 메서드 조합을 해서 처리하는 경우가 많음
     + vectorization 으로 처리 / 파이썬 기초문법 (for-loop) 대신
     + 속도가 매우 빠름

In [ ]:
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True