<a href="https://colab.research.google.com/github/JinaaK/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

## 사칙연산

In [1]:
1+1 # 정수 연산 결과값은 정수로 반환

2

In [2]:
5-2

3

In [3]:
5 -2

3

In [4]:
15*2

30

In [6]:
# 나눗셈
10/2 # 정수 / 정수 ===> 반환값은 실수형으로 반환

5.0

- 실수연산

In [12]:
print(1.2 + 5.2) # 웹개발, IDE 환경에서 코드 작성시 print()는 필수
print(2.3 - 1.2)
print(1.2 * 1.5)
print( 5/3 / 1.2)

6.4
1.0999999999999999
1.7999999999999998
1.388888888888889

### 연산규칙
- (1) 괄호안 계산
- (2) 지수 계산
- (3) 곱셋과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [14]:
print(2 + 3 * 4)

14

In [16]:
print(3 / 2 * 4 - 5 / 2)

3.5

In [18]:
print((5 * 4 - 15) + ((5 - 2) * (9 - 7)))

11

### type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정 함수를 쓰기위한 조건만 맞춰주면 동작

함수의 종류
- 내장(built-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + Documentation: 함수를 설명해주는 문서 보는 법을 익힐 것 (영어)

- 라이브러리에서 제공해주는 함수
 + R: 패키지, Python: 라이브러리
 + 목적이 분명.
   - 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치 필요
   - 통계분석 : 통계 분석과 관련된 라이브러리를 별도 설치 필요
   - 시각화 : 시각화 관련된 라이브러리를 별도 설치 필요
   - 게임개발 : 게임 개발과 관련된 라이브러리 설치
   - 수치연산 주요 라이브러리 : numpy, scipy

In [22]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [23]:
print(type(3.5))

<class 'float'>

- 파이썬은 객체지향 언어입니다.

## 거듭 제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱 (power)
  + A는 밑, n은 지수라고 표현

In [27]:
2 * 2 * 2 * 2 * 2

32

In [29]:
2 ** 5 # 거듭제곱

32

- 나머지 구하는 방법

In [32]:
13 % 5 # 나머지

3

In [31]:
13 // 5 # 몫

2

- 교재 표 3-1(p34), 산술연산자 표 정리

## 과학적 표기법 (scientific notation)
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
 + 빛은 초당 30만 km
 + 단위를 m/s 표현하면, 300,000,000m/s
 + 3x10^8

In [36]:
print(3*10**8)

300000000

In [37]:
print(3e8)

300000000.0

In [38]:
3e-4

0.0003

In [39]:
1e-4

0.0001

## 진수 표현과 변환
- 우리는 일상생활에서는 10진법을 많이 씀
- 60진법: 60초가 1분이고, 60분이 1시간
- 12진법: 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법: 0~7까지의 숫자
- 16진법: 0~9, a,b,c,d,e,f
- 메서드
  + bin() : 10진수를 2진수로 변환
  + oct() : 10진수를 8진수로 변환
  + hex() : 10진수를 16진수로 변환

In [43]:
17 # 10진법

17

In [44]:
0b10001 # 2진법

17

In [46]:
0o21 # 8진법

17

In [47]:
0x11 # 16진법

17

## 논리 연산 및 비교 연산 (매우 중요)
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [49]:
print(True)

True

In [50]:
print(False)

False

In [51]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B : A와 B 모두 참일때 참
- or : A or B : A와 B 중 하나라도 참이면 참, 둘 다 거짓일 때 거짓
- not : not A : A가 참일때 거짓, A가 거짓이면 참

In [55]:
#교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야 함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [57]:
#합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [60]:
not False

True

### 비교연산자

In [62]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야 함
1 == 2 # a와 b가 같다

False

In [66]:
1 != 2 # a와 b는 같지 않다

True

In [67]:
1 <= 2 # a는 b보다 작거나 같다.

True

In [68]:
1 < 2 # a가 b보다 작다

True

In [69]:
1 >= 2 #a가 b보다 크거나 같다

False

In [71]:
1 > 2 #a가 b보다 크다

False

### 비교연산자 + 논리연산자

In [72]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [77]:
# 괄호안이 먼저 연산
((3 < 0) and (-5 > 0)) and (1 > 5)

False

# Chapter 4. 변수와 자료형

## 변수 (p.42)

변수명 = data

In [88]:
# 변수 : variable, 데이터
a = 1000
b = 1110

In [89]:
print(a)
print(b)

1000
1110

### 변수명 짓기 규칙
- snake, camel

In [2]:
# snake
num_a = 100
num_b = 110

#camel
myStudent = "evan"
mySchool = "학교이름"

#주의해야할 것
#3star = "이장군" #앞에 숫자가 오면 안됨

In [3]:
print(num_a)

100

In [4]:
# print = 100
print(num_a) # 내장함수명을 변수명으로 만들면 안됨!

100

In [5]:
num = 1
Num = 100

In [6]:
print(num)
print(Num)

1
100

In [ ]:
my student = "evan" # 변수명 작성시, 공백 있으면 안됨!

### 예약어는 변수명으로 이용할 수 없음
- (p.45)
- print, None, True, etc

### 변수의 반대어 : 상수
- 한번 지정 후, 변하지 않는 고정

In [7]:
# 상수
pi = 3.14

In [1]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!") # 숫자를 입력해도 기본값은 문자열로 변환
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [3]:
print(num1+num2)
print(int(num1) + int(num2))

100200
300

In [16]:
print(type(num1)) # <class 'str'> 문자열
print(type(num2)) # <class 'str'> 문자열

<class 'str'>
<class 'str'>

In [ ]:
# 하고 싶은 것 : 사칙연산
# 해결방안 ; 문자열 100을 숫자 100으로 변경
# 코드를 찾기

In [10]:
# 프로그래밍 문자열로 표현하고 싶다!
# "a" or '1'

In [ ]:
a = '100' # 문자열 100
b = '5000' #문자열 5000